In [1]:
import pandas as pd
import numpy as np

# train data process

In [2]:
# train_tmp_click_log = 'data/train_tmp/click_log.csv'
train_click_log_path = 'data/train_preliminary/click_log.csv'
train_click_log = pd.read_csv(train_click_log_path)

In [3]:
# train_tmp_click_log = 'data/train_tmp/click_log.csv'
test_click_log_path = 'data/test/click_log.csv'
test_click_log = pd.read_csv(test_click_log_path)

In [4]:
train_click_log.shape,test_click_log.shape

((30082771, 4), (33585512, 4))

In [5]:
frame = [train_click_log, test_click_log]
click_log = pd.concat(frame, ignore_index=True)

In [6]:
click_log.shape

(63668283, 4)

# 处理ad

In [7]:
train_ad = pd.read_csv('data/train_preliminary/ad.csv')
train_ad.product_id[train_ad.product_id=='\\N']='0'
train_ad.industry[train_ad.industry=='\\N']='0'
train_ad.product_id = train_ad.product_id.astype(int)
train_ad.industry = train_ad.industry.astype(int)

In [8]:
test_ad = pd.read_csv('data/test/ad.csv')
test_ad.product_id[test_ad.product_id=='\\N']='0'
test_ad.industry[test_ad.industry=='\\N']='0'
test_ad.product_id = test_ad.product_id.astype(int)
test_ad.industry = test_ad.industry.astype(int)

In [9]:
frame = [train_ad, test_ad]
ad = pd.concat(frame, ignore_index=True)

In [10]:
ad.shape

(5099294, 6)

In [11]:
ad.drop_duplicates(subset = None, keep = 'first', inplace = True)

In [12]:
ad.shape

(3412772, 6)

In [13]:
click_log_ad = pd.merge(click_log, ad, on='creative_id', how='left')
click_log_ad.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,9,30920,567330,1,504423,30673,3,32638,319
1,65,30920,3072255,1,2642300,1261,2,6783,6
2,56,30920,2361327,1,2035918,1261,2,6783,6
3,6,309204,325532,1,292523,27081,3,32066,242
4,59,309204,2746730,1,2362208,0,18,14682,88

In [14]:
click_log_ad = click_log_ad.sort_values(by=['user_id', 'time', 'click_times'], ascending=[True, True, False], axis=0)

In [15]:
click_log_ad.shape

(63668283, 9)

In [16]:
click_log_ad.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
26196513,20,1,821396,1,724607,0,5,7293,326
26196514,20,1,209778,1,188507,136,2,9702,6
26196515,20,1,877468,1,773445,0,5,29455,106
26196517,39,1,1683713,1,1458878,0,5,14668,326
26196524,40,1,122032,1,109959,1334,2,11411,0

In [17]:
click_log_ad.to_csv('data/click_log_ad.csv',index=False)